<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <div class="header__contacts">
        <div class="location-phone">
          <div class="location-phone__location">
            <svg class="location-icon" width="12" height="12" viewBox="0 0 12 12" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M11.0843 1L5.53809 6.5" stroke="#E0E0E0" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M11.084 1L7.55462 11L5.53782 6.5L1 4.5L11.084 1Z" stroke="#E0E0E0" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>

            <div class="select-city">
              Архангельск-на-под
            </div>

            <div class="select-street">
              ул. Дорожная, 1Е и еще 3
            </div>
          </div>

          <div class="location-phone__phone">
            <div class="location-phone__phone-item">
              <a href="tel:+78005000320">8 800 500-03-20</a>
            </div>

            <div class="location-phone__phone-item">
              <a href="tel:+78612000320">8 861 200-03-20</a>
            </div>
          </div>
        </div>
      </div>

      <div class="header__right-wrapper">
        <div class="header__services">
          <div class="header__services-list">
            <div class="header__services-list-item">
              <a class="header__services-link" href="#">
                Ремонт и обслуживание
              </a>
            </div>

            <div class="header__services-list-item">
              <a class="header__services-link" href="#">
                Прокат оборудования
              </a>
            </div>
          </div>
        </div>

        <div class="header__nav">
          <div class="header__nav-list">
            <a class="header__nav-list-item" href="#">
              О нас
            </a>

            <a class="header__nav-list-item" href="#">
              Доставка
            </a>

            <a class="header__nav-list-item" href="#">
              Оплата
            </a>

            <a class="header__nav-list-item" href="#">
              Вакансии
            </a>

            <a class="header__nav-list-item" href="#">
              Помощь
            </a>

            <a class="header__nav-list-item" href="#">
              Контакты
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>