<section class="help">
  <div class="container">
    <div class="help__top">
      <div class="help__top-title">
        Помощь
      </div>

      <div class="help__top-phone">
        <div class="help__top-phone-text">
          Телефон горячей линии
        </div>

        <div class="help__top-phone-number">
          <a href="tel:+78005003020">8 (800) 500-30-20</a>
        </div>
      </div>
    </div>

    <div class="help__features">
      <div class="help__features-wrapper">
        <div class="help__features-item help__features-support">
          <div class="help__features-img help__features-support-img">
            <img class="" src="../img/support-feature.png" alt="Помощь">
          </div>

          <div class="help__features-item-box">
            <h3 class="help__features-title">
              Мы всегда рады помочь
            </h3>

            <p class="help__features-text">
              Если у вас есть нерешенный вопрос
            </p>

            <button class="help__features-button btn">
              Напишите нам в чат
            </button>
          </div>
        </div>

        <div class="help__features-item help__features-payment">
          <h3 class="help__features-title help__features-payment-title">
            Оплата
          </h3>

          <ul class="help__features-list help__features-payment-list">
            <li class="help__features-list-item">
              Как оплатить заказ
            </li>

            <li class="help__features-list-item">
              Наложенный платёж
            </li>

            <li class="help__features-list-item">
              Оплата электронными деньгами
            </li>

            <li class="help__features-list-item">
              Как оплатить если нет карты
            </li>

            <li class="help__features-list-item">
              Подарочные карты
            </li>
          </ul>
        </div>

        <div class="help__features-item help__features-refund">
          <div class="help__features-item-box">
            <h3 class="help__features-title">
              Легкий возврат
            </h3>

            <p class="help__features-text">
              Вернуть товары легко и удобно, если сохранён его товарный вид и потребительские свойства.
            </p>

            <button class="help__features-button btn">
              Узнать подробнее
            </button>
          </div>

          <div class="help__features-img">
            <img src="../img/refund-feature.png" alt="Легкий возврат">
          </div>
        </div>

        <div class="help__features-item help__features-bonus">
          <h3 class="help__features-title help__features-bonus-title">
            Бонусная система
          </h3>

          <ul class="help__features-bonus-list">
            <li class="help__features-list-item">
              Покупай.
            </li>

            <li class="help__features-list-item">
              Управляй заказами.
            </li>

            <li class="help__features-list-item">
              Накапливай cashback—бонусы
            </li>
          </ul>
        </div>

        <div class="help__features-item help__features-assurance">
          <div class="help__features-item-box">
            <h3 class="help__features-title">
              Гарантия
            </h3>

            <p class="help__features-text">
              Информацию по всем вопросам гарантии можно узнать тут.
            </p>
          </div>

          <div class="btn-wrap">
            <button class="help__features-button assurance-btn btn">
              Гарантийные талоны
            </button>
          </div>
        </div>

        <div class="help__features-item help__features-delivery">
          <div class="help__features-item-box">
            <h3 class="help__features-title">
              Доставка
            </h3>

            <p class="help__features-text">
              Стоимость доставки будет зависеть от города в котором вы находитесь
            </p>

            <button class="help__features-button btn">
              Расчитать доставку
            </button>
          </div>

          <div class="help__features-img">
            <img src="../img/delivery-feature.png" alt="Легкий возврат">
          </div>
        </div>
      </div>
    </div>

    <div class="help__block">
      <h2 class="hepl__block-title">
        Как сделать заказ
      </h2>

      <div class="help__block-text">
        Мы делаем все возможное, чтобы максимально облегчить вам оформление заказа. Для того, чтобы сделать это:
      </div>

      <ul class="help__block-instruction">
        <li class="help__block-instruction-item">
          Перейдите в раздел <a href="#"><span class="help__block-instruction--span">«Каталог»</span></a>;
        </li>

        <li class="help__block-instruction-item">
          под понравившимся вам товаром нажать на зеленую кнопку «Купить»: это отправляет ваш заказ в виртуальную
          корзину;
        </li>

        <li class="help__block-instruction-item">
          переходите в корзину и оформляете заказ;
        </li>

        <li class="help__block-instruction-item">
          система автоматически зарегистрирует вас;
        </li>

        <li class="help__block-instruction-item">
          ожидайте смс и email уведомления о статусе вашего заказа. При возникновении вопросов будем рады помочь по
          телефону 8(800)500-03-20.
        </li>
      </ul>
    </div>

    <div class="help__block">
      <h2 class="hepl__block-title">
        Легкий возврат
      </h2>

      <div class="help__block-text">
        Покупайте, пробуйте, вам понравится, если нет, мы вернем вам деньги! Без вопросов, заявлений и дополнительных
        комиссий.
        Вы вправе передумать. Мы в «Байк Центре» понимаем это, и с радостью сделаем вам обмен на понравившийся вам товар
        или вернём деньги.
      </div>

      <ul class="help__block-instruction">
        <li class="help__block-instruction-item">
          Свяжитесь с нами по телефону или онлайн-чаты. Мы оформим вам бланк возврата и вышлем его вам на электронную
          почту;
        </li>

        <li class="help__block-instruction-item">
          распечатайте и заполните бланк, его нужно будет сдать вместе с заказом на указанном нами пункте выдачи ;
        </li>

        <li class="help__block-instruction-item">
          надёжно упакуйте товар в коробку, предотвращая трение изделий между собой и свободное перемещение товара
          внутри упаковки;
        </li>

        <li class="help__block-instruction-item">
          сдайте заказ в том же месте, где получали его или другом удобном вам партнёрском пункте выдачи заказов или
          магазине;
        </li>
      </ul>

      <div class="help__block-text">
        Возврат и обмен товара производится на основании Закона РФ "О защите прав потребителей" и регулируется ст. 18,
        19, 20, 21.
      </div>

      <div class="help__block-text">
        В случае доставки на дом и возникновения гарантийного случая/наличия брака у товара, мы самостоятельно и за свой
        счёт заберём от вас данный товар.
      </div>
    </div>

    <div class="help__block">
      <h2 class="hepl__block-title">
        Обратная связь
      </h2>

      <div class="help__block-text">
        Если у вас есть предложения или замечания по работе интернет-магазина «Байк Центр», то вы всегда можете
        обратиться к нам:
      </div>

      <ul class="help__block-instruction">
        <li class="help__block-instruction-item">
          в социальной сети ВКонтакте;
        </li>

        <li class="help__block-instruction-item">
          по электронной почте руководителю интернет-магазина info@bike-centre.ru;
        </li>

        <li class="help__block-instruction-item">
          написав отзыв о работе «Байк Центра».
        </li>
      </ul>
    </div>

    <div class="help__block-find">
      <p class="help__block-find-title">
        Не нашли то что нужно?
      </p>

      <div class="help__block-find-text">
        Позвоните нам по номеру <span class="help__block-find-text--span"><a href="tel:+7800000000000">8 (800)
            000000000</a></span>
      </div>
    </div>
  </div>
</section>

<section class="help-mobile mobile-container">
  <div class="help-mobile__title">
    Помощь
  </div>

  <div class="help-mobile__phone">
    <div class="help-mobile__phone-text">
      Телефон горячей линии
    </div>

    <div class="help-mobile__phone-number">
      <a href="tel:+78005003020">
        8 (800) 500-30-20
      </a>
    </div>
  </div>

  <div class="helper-mobile">
    <div class="helper-mobile__title">
      Мы всегда рады помочь
    </div>

    <div class="helper-mobile__content">
      <div class="helper-mobile__content-text">
        Если у вас есть нерешенный вопрос
      </div>

      <button class="helper-mobile__content-btn btn">
        Напишите нам в чат
      </button>
    </div>
  </div>

  <div class="helper-mobile">
    <div class="helper-mobile__title helper-mobile__title--indention">
      Доставка
    </div>

    <div class="helper-mobile__content helper-mobile__content--gray">
      <div class="helper-mobile__content-img">
        <img src="../img/delivery-feature.png" alt="Доставка">
      </div>

      <div class="helper-mobile__content-text">
        Стоимость доставки будет зависеть от города в котором вы находитесь
      </div>

      <button class="helper-mobile__content-btn btn">
        Узнать подробнее
      </button>
    </div>
  </div>

  <div class="helper-mobile">
    <div class="helper-mobile__content helper-mobile__content--bonus">
      <div class="helper-mobile__content-text helper-mobile__content-text--bonus">
        Бонусная система
      </div>

      <ul class="helper-mobile__content-list helper-mobile__content-list--bonus">
        <li>
          Покупай.
        </li>

        <li>
          Управляй заказами.
        </li>

        <li>
          Накапливай cashback—бонусы
        </li>
      </ul>
    </div>
  </div>

  <div class="helper-mobile">
    <div class="helper-mobile__title">
      Оплата
    </div>

    <div class="helper-mobile__content">
      <ul class="helper-mobile__content-list helper-mobile__content-list--payment">
        <li>
          <a href="#">
            Как оплатить заказ
          </a>
        </li>

        <li>
          <a href="#">
            Наложенный платеж
          </a>
        </li>

        <li>
          <a href="#">
            Оплата электронными деньгами
          </a>
        </li>

        <li>
          <a href="#">
            Как оплатить если нет карты
          </a>
        </li>

        <li>
          <a href="#">
            Подарочные карты
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="helper-mobile">
    <div class="helper-mobile__title">
      Как сделать заказ
    </div>

    <div class="helper-mobile__content">
      <div class="helper-mobile__content-text">
        Мы делаем все возможное, чтобы максимально облегчить вам оформление заказа. Для того, чтобы сделать это:
      </div>

      <ul class="helper-mobile__content-list">
        <li>
          Перейдите в раздел «Каталог»;
        </li>

        <li>
          под понравившимся вам товаром нажать на зеленую кнопку «Купить»: это отправляет ваш заказ в виртуальную
          корзину;
        </li>

        <li>
          переходите в корзину и оформляете заказ;
        </li>

        <li>
          система автоматически зарегистрирует вас;
        </li>

        <li>
          ожидайте смс и email уведомления о статусе вашего заказа. При возникновении вопросов будем рады помочь по
          телефону 8(800)500-03-20.
        </li>
      </ul>
    </div>
  </div>

  <div class="helper-mobile">
    <div class="helper-mobile__title helper-mobile__title--indention">
      Легкий возврат
    </div>

    <div class="helper-mobile__content helper-mobile__content--gray">
      <div class="helper-mobile__content-img">
        <img src="../img/refund-feature.png" alt="Легкий возраст">
      </div>

      <div class="helper-mobile__content-text">
        Мы в «Байк Центре» понимаем это, и с радостью сделаем вам обмен на понравившийся вам товар или вернём деньги.
      </div>

      <button class="helper-mobile__content-btn btn">
        Узнать подробнее
      </button>
    </div>
  </div>

  <div class="helper-mobile">
    <div class="helper-mobile__title">
      Гарантия
    </div>

    <div class="helper-mobile__content">
      <div class="helper-mobile__content-text">
        Информацию по всем вопросам, связанным с обменом, возвратом, ремонтом и взаимодействием с сервисным центром, вы
        можете уточнить непосредственно у сотрудников магазина или по телефону горячей линии.
      </div>

      <button class="helper-mobile__content-btn btn mobile-assurance-btn">
        Гарантийные талоны
      </button>
    </div>
  </div>


  <div class="helper-mobile">
    <div class="helper-mobile__title">
      Обратная связь
    </div>

    <div class="helper-mobile__content">
      <div class="helper-mobile__content-text">
        Если у вас есть предложения или замечания по работе интернет-магазина «Байк Центр», то вы всегда можете
        обратиться к нам:
      </div>

      <ul class="helper-mobile__content-list">
        <li>
          в социальной сети ВКонтакте;
        </li>

        <li>
          по электронной почте руководителю интернет-магазина info@bike-centre.ru;
        </li>

        <li>
          написав отзыв о работе «Байк Центра».
        </li>
      </ul>
    </div>
</section>
