<nav class="menu">
  <div class="container">
    <div class="menu-top">
      <div class="menu-top__wrapper">
        <div class="logo">
          <a class="logo-link" href="##" title="Байк Центр">
            <svg width="195" height="40" viewBox="0 0 195 40" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M74.512 9.72729H55.2952L53.2009 31.193L72.3782 31.2061L72.9841 25.3174H61.4329L62.3944 15.5768H66.2668L63.514 23.411L71.1928 23.4372L73.9324 15.616L74.512 9.72729Z"
                fill="#0C1111" />
              <path
                d="M31.8861 31.2193L34.3623 5.79731L32.4261 5.78426L32.9793 0H42.647L40.9084 17.627L45.5052 9.72747L53.2235 9.71442L48.5214 17.5486L52.4464 17.5225L50.3127 39.0666H42.6207L44.1749 23.4373H40.2235L39.4859 31.2193H31.8861Z"
                fill="#0C1111" />
              <path d="M22.0757 31.2191L29.7545 31.193L31.8882 9.72729H24.2094L22.0757 31.2191Z" fill="#0C1111" />
              <path
                d="M0.804321 31.2193L3.28051 5.79732L1.29166 5.78426L1.85802 0H11.552L9.03634 25.3828H12.8823L13.8438 15.6162H11.9208L12.474 9.71442H22.089L19.9816 31.2193H0.804321Z"
                fill="#0C1111" />
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M0.632219 32.4466L41.2128 32.5249L40.6201 39.2493L0 39.1709L0.632219 32.4335V32.4466ZM195 9.93627H175.757L173.649 31.4412H181.289L182.856 15.7728H186.689L186.307 19.6899H194.025L195 9.85793V9.93627ZM173.663 9.93627L173.083 15.825L170.33 23.6592H162.665L165.417 15.825H161.545L160.584 25.5655H172.135L171.529 31.4542H152.352L154.446 10.0016L173.663 9.93627ZM138.693 31.4412H150.231L150.771 25.5786H146.925L147.887 15.8119H151.838L152.404 9.94933H148.453L148.822 6.03223H141.13L138.693 31.4412ZM138.693 9.9885L136.612 31.4673H128.946L130.474 15.7989H126.602L125.127 31.4673H117.514L119.555 9.9885H138.693ZM117.421 9.9885H98.231L96.1499 31.4412H115.327L115.907 25.5786H104.369L105.37 15.838H109.242L106.489 23.6723H114.168L116.921 15.838L117.501 9.94933L117.421 9.9885ZM96.1499 9.9885L95.3728 17.7444H87.6018L87.7994 15.8511H83.9797L82.9787 25.5786H86.8247L87.0355 23.607H94.767L93.9635 31.4412H74.7467L76.8804 9.9885H96.1499Z"
                fill="#E30613" />
            </svg>
          </a>
        </div>

        <div class="burger-menu">
          <div class="burger-icon" id="burger-toggle">
            <span></span>
            <span></span>
          </div>
          <div class="burger-title">
            Каталог
          </div>
          <div class="overlay"></div>
          <div class="menu-dropdown">
            <div class="menu-dropdown__wrap container">
              <div class="menu-dropdown__sidebar">
                <div class="sidebar-inner">
                  <a class="menu-dropdown__sidebar-item">
                    <div class="menu-dropdown__sidebar-icon">
                      <img src="../img/bicycle-icon.svg" alt="Велосипеды">
                    </div>
                    <div class="menu-dropdown__sidebar-text">
                      Велосипеды
                    </div>
                  </a>

                  <a class="menu-dropdown__sidebar-item">
                    <div class="menu-dropdown__sidebar-icon">
                      <img src="../img/electro-scooter-icon.svg" alt="Электросамокаты">
                    </div>
                    <div class="menu-dropdown__sidebar-text">
                      Электросамокаты
                    </div>
                  </a>

                  <a class="menu-dropdown__sidebar-item">
                    <div class="menu-dropdown__sidebar-icon">
                      <img src="../img/scooter.svg" alt="Самокаты">
                    </div>
                    <div class="menu-dropdown__sidebar-text">
                      Самокаты
                    </div>
                  </a>

                  <a class="menu-dropdown__sidebar-item">
                    <div class="menu-dropdown__sidebar-icon">
                      <img src="../img/skateboard-icon.svg" alt="Скейтборды">
                    </div>
                    <div class="menu-dropdown__sidebar-text">
                      Скейтборды
                    </div>
                  </a>

                  <a class="menu-dropdown__sidebar-item">
                    <div class="menu-dropdown__sidebar-icon">
                      <img src="../img/roller-skates-icon.svg" alt="Роликовые коньки">
                    </div>
                    <div class="menu-dropdown__sidebar-text">
                      Роликовые коньки
                    </div>
                  </a>

                  <a class="menu-dropdown__sidebar-item">
                    <div class="menu-dropdown__sidebar-icon">
                      <img src="../img/bicycle-accessories-icon.svg" alt="Велоаксессуары">
                    </div>
                    <div class="menu-dropdown__sidebar-text">
                      Велоаксессуары
                    </div>
                  </a>

                  <a class="menu-dropdown__sidebar-item">
                    <div class="menu-dropdown__sidebar-icon">
                      <img src="../img/sup-icon.svg" alt="SUP и каяки">
                    </div>
                    <div class="menu-dropdown__sidebar-text">
                      SUP и каяки
                    </div>
                  </a>

                  <a class="menu-dropdown__sidebar-item">
                    <div class="menu-dropdown__sidebar-icon">
                      <img src="../img/tourism-icon.svg" alt="Туризм">
                    </div>
                    <div class="menu-dropdown__sidebar-text">
                      Туризм
                    </div>
                  </a>

                  <a class="menu-dropdown__sidebar-item">
                    <div class="menu-dropdown__sidebar-icon">
                      <img src="../img/exercise-equipment-icon.svg" alt="Тренажеры">
                    </div>
                    <div class="menu-dropdown__sidebar-text">
                      Тренажеры
                    </div>
                  </a>

                  <a class="menu-dropdown__sidebar-item">
                    <div class="menu-dropdown__sidebar-icon">
                      <img src="../img/parts-scooters-icon.svg" alt="Запчасти для самокатов">
                    </div>
                    <div class="menu-dropdown__sidebar-text">
                      Запчасти для самокатов
                    </div>
                  </a>

                  <a class="menu-dropdown__sidebar-item">
                    <div class="menu-dropdown__sidebar-icon">
                      <img src="../img/parts-electro-scooters-icon.svg" alt="Запчасти для электросамокатов">
                    </div>
                    <div class="menu-dropdown__sidebar-text">
                      Запчасти для электросамокатов
                    </div>
                  </a>

                  <a class="menu-dropdown__sidebar-item">
                    <div class="menu-dropdown__sidebar-icon">
                      <img src="../img/alpine-skiing-icon.svg" alt="Горные лыжи">
                    </div>
                    <div class="menu-dropdown__sidebar-text">
                      Горные лыжи
                    </div>
                  </a>

                  <a class="menu-dropdown__sidebar-item">
                    <div class="menu-dropdown__sidebar-icon">
                      <img src="../img/snowboards-icon.svg" alt="Сноуборды">
                    </div>
                    <div class="menu-dropdown__sidebar-text">
                      Сноуборды
                    </div>
                  </a>

                  <a class="menu-dropdown__sidebar-item">
                    <div class="menu-dropdown__sidebar-icon">
                      <img src="../img/backpacks-icon.svg" alt="Рюкзаки и сумки">
                    </div>
                    <div class="menu-dropdown__sidebar-text">
                      Рюкзаки и сумки
                    </div>
                  </a>

                  <a class="menu-dropdown__sidebar-item">
                    <div class="menu-dropdown__sidebar-icon">
                      <img src="../img/more-icon.svg" alt="Другое">
                    </div>
                    <div class="menu-dropdown__sidebar-text">
                      Другое
                    </div>
                  </a>

                  <a class="menu-dropdown__sidebar-item">
                    <div class="menu-dropdown__sidebar-icon empty-icon"></div>
                    <div class="menu-dropdown__sidebar-text">
                      Ремонт и обсуживание
                    </div>
                  </a>

                  <a class="menu-dropdown__sidebar-item">
                    <div class="menu-dropdown__sidebar-icon empty-icon"></div>
                    <div class="menu-dropdown__sidebar-text">
                      Прокат оборудования
                    </div>
                  </a>
                </div>
              </div>

              <div class="menu-dropdown__content">
                <div class="content-inner">
                  <div class="menu-dropdown__column">
                    <div class="sub-menu-block">
                      <div class="sub-menu-block__top">
                        <div class="sub-menu-block__title">
                          Амортизаторы и вилки
                        </div>

                        <div class="sub-menu-block__img"></div>
                      </div>

                      <div class="sub-menu-block__list">
                        <div class="sub-menu-block__item">
                          Амортизаторы
                        </div>

                        <div class="sub-menu-block__item">
                          Вилки
                        </div>

                        <div class="sub-menu-block__item">
                          Запчасти для вилок
                        </div>

                        <div class="sub-menu-block__item">
                          Запчасти для амортизаторов
                        </div>
                      </div>
                    </div>

                    <div class="sub-menu-block">
                      <div class="sub-menu-block__top">
                        <div class="sub-menu-block__title">
                          Колёса и комплектующие
                        </div>

                        <div class="sub-menu-block__img"></div>
                      </div>

                      <div class="sub-menu-block__list">
                        <div class="sub-menu-block__item">
                          Покрышки
                        </div>

                        <div class="sub-menu-block__item">
                          Камеры
                        </div>

                        <div class="sub-menu-block__item">
                          Обода
                        </div>

                        <div class="sub-menu-block__item">
                          Колеса в сборе
                        </div>

                        <div class="sub-menu-block__item">
                          Втулки
                        </div>

                        <div class="sub-menu-block__item">
                          Запчасти для втулок
                        </div>

                        <div class="sub-menu-block__item">
                          Герметики
                        </div>

                        <div class="sub-menu-block__item">
                          Наппеля
                        </div>

                        <div class="sub-menu-block__item">
                          Спицы
                        </div>

                        <div class="sub-menu-block__item">
                          Флипперы
                        </div>
                      </div>
                    </div>

                    <div class="sub-menu-block">
                      <div class="sub-menu-block__top">
                        <div class="sub-menu-block__title">
                          Трансмиссия
                        </div>

                        <div class="sub-menu-block__img"></div>
                      </div>

                      <div class="sub-menu-block__list">
                        <div class="sub-menu-block__item">
                          Манетки
                        </div>

                        <div class="sub-menu-block__item">
                          Переключатели задние
                        </div>

                        <div class="sub-menu-block__item">
                          Переключатели передние
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="menu-dropdown__column">
                    <div class="sub-menu-block">
                      <div class="sub-menu-block__top">
                        <div class="sub-menu-block__title">
                          Привод
                        </div>

                        <div class="sub-menu-block__img"></div>
                      </div>

                      <div class="sub-menu-block__list">
                        <div class="sub-menu-block__item">
                          Кассеты и трещотки
                        </div>

                        <div class="sub-menu-block__item">
                          Звёзды и рокринги
                        </div>

                        <div class="sub-menu-block__item">
                          Системы (шатуны)
                        </div>

                        <div class="sub-menu-block__item">
                          Педали
                        </div>

                        <div class="sub-menu-block__item">
                          Каретки
                        </div>

                        <div class="sub-menu-block__item">
                          Цепи
                        </div>

                        <div class="sub-menu-block__item">
                          Натяжители и успокоители
                        </div>
                      </div>
                    </div>

                    <div class="sub-menu-block">
                      <div class="sub-menu-block__top">
                        <div class="sub-menu-block__title">
                          Рамы и комплектующие
                        </div>

                        <div class="sub-menu-block__img"></div>
                      </div>

                      <div class="sub-menu-block__list">
                        <div class="sub-menu-block__item">
                          Рамы
                        </div>

                        <div class="sub-menu-block__item">
                          Петухи
                        </div>

                        <div class="sub-menu-block__item">
                          Защита пера
                        </div>

                        <div class="sub-menu-block__item">
                          Пеги
                        </div>
                      </div>
                    </div>

                    <div class="sub-menu-block">
                      <div class="sub-menu-block__top">
                        <div class="sub-menu-block__title">
                          Рулевое управление
                        </div>

                        <div class="sub-menu-block__img"></div>
                      </div>

                      <div class="sub-menu-block__list">
                        <div class="sub-menu-block__item">
                          Рули
                        </div>

                        <div class="sub-menu-block__item">
                          Рога
                        </div>

                        <div class="sub-menu-block__item">
                          Грипсы и обмотки руля
                        </div>

                        <div class="sub-menu-block__item">
                          Выносы
                        </div>

                        <div class="sub-menu-block__item">
                          Рулевые колонки
                        </div>

                        <div class="sub-menu-block__item">
                          Якоря и проставочные кольца
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="menu-dropdown__column">
                    <div class="sub-menu-block">
                      <div class="sub-menu-block__top">
                        <div class="sub-menu-block__title">
                          Седля и подседельные штыри
                        </div>

                        <div class="sub-menu-block__img"></div>
                      </div>

                      <div class="sub-menu-block__list">
                        <div class="sub-menu-block__item">
                          Сёдла
                        </div>

                        <div class="sub-menu-block__item">
                          Штири
                        </div>

                        <div class="sub-menu-block__item">
                          Подседельные зажимы
                        </div>
                      </div>
                    </div>

                    <div class="sub-menu-block">
                      <div class="sub-menu-block__top">
                        <div class="sub-menu-block__title">
                          Тормозные системы
                        </div>

                        <div class="sub-menu-block__img"></div>
                      </div>

                      <div class="sub-menu-block__list">
                        <div class="sub-menu-block__item">
                          Тормоза дисковые гидравлические
                        </div>

                        <div class="sub-menu-block__item">
                          Тормоза дисковые механические
                        </div>

                        <div class="sub-menu-block__item">
                          Роторы
                        </div>

                        <div class="sub-menu-block__item">
                          Адаптеры
                        </div>

                        <div class="sub-menu-block__item">
                          Колодки
                        </div>

                        <div class="sub-menu-block__item">
                          Тормоза V-Brake
                        </div>

                        <div class="sub-menu-block__item">
                          Тормоза клещевые
                        </div>

                        <div class="sub-menu-block__item">
                          Тормоза кантиливерные
                        </div>

                        <div class="sub-menu-block__item">
                          Тормозные ручки
                        </div>

                        <div class="sub-menu-block__item">
                          Запчасти для тормозных систем
                        </div>
                      </div>
                    </div>

                    <div class="sub-menu-block">
                      <div class="sub-menu-block__top">
                        <div class="sub-menu-block__title">
                          Инструменты
                        </div>

                        <div class="sub-menu-block__img"></div>
                      </div>

                      <div class="sub-menu-block__list">
                        <div class="sub-menu-block__item">
                          Мультитулы
                        </div>

                        <div class="sub-menu-block__item">
                          Ключи специальные
                        </div>

                        <div class="sub-menu-block__item">
                          Съемники
                        </div>

                        <div class="sub-menu-block__item">
                          Выжимники цепи
                        </div>

                        <div class="sub-menu-block__item">
                          Ремнаборы для камер и покрышек
                        </div>

                        <div class="sub-menu-block__item">
                          Наборы инструментов
                        </div>

                        <div class="sub-menu-block__item">
                          Монтажки
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="menu-dropdown__column">
                    <div class="sub-menu-block">
                      <div class="sub-menu-block__box"></div>
                    </div>

                    <div class="sub-menu-block">
                      <div class="sub-menu-block__box"></div>
                    </div>

                    <div class="sub-menu-block">
                      <div class="sub-menu-block__box"></div>
                    </div>

                    <div class="sub-menu-block">
                      <div class="sub-menu-block__box"></div>
                    </div>

                    <div class="sub-menu-block">
                      <div class="sub-menu-block__box"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <form class="search-form">
          <input class="search-input" type="text" placeholder="Поиск на сайте">
          <button class="search-btn" type="submit">
            <svg width="16" height="16" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M7.99996 14.9999C11.8659 14.9999 14.9999 11.8659 14.9999 7.99996C14.9999 4.13399 11.8659 1 7.99996 1C4.13399 1 1 4.13399 1 7.99996C1 11.8659 4.13399 14.9999 7.99996 14.9999Z"
                stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M12.9492 12.95L16.9992 17" stroke="#333333" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>

            <p class="search-btn__text">
              Найти
            </p>
          </button>

          <div class="search-suggestions">
            <div class="search-suggestions__wrap">
              <div class="search-suggestions__block">
                <div class="search-suggestions__block-title">
                  Велосипеды
                </div>

                <a class="search-suggestions__block-link searched-suggestions" href="#">
                  Электровелосипеды
                </a>

                <a class="search-suggestions__block-link searched-suggestions" href="#">
                  Складные электровелосипеды
                </a>

                <a class="search-suggestions__block-link searched-suggestions" href="#">
                  Горные электровелосипеды
                </a>

                <a class="search-suggestions__block-link searched-suggestions" href="#">
                  Электровелосипеды Scott
                </a>

                <a class="search-suggestions__block-link searched-suggestions" href="#">
                  Электровелосипеды Merida
                </a>
              </div>

              <div class="search-suggestions__block">
                <div class="search-suggestions__block-title">
                  Все разделы
                </div>

                <a class="search-suggestions__block-link" href="#">
                  Электросамокаты
                </a>

                <a class="search-suggestions__block-link" href="#">
                  Запчасти для электросамокатов
                </a>

                <a class="search-suggestions__block-link" href="#">
                  Электромашинки
                </a>
              </div>

              <div class="search-suggestions__block">
                <a class="search-suggestions__block-box" href="#">
                  <div class="search-suggestions__block-inner">
                    <div class="search-suggestions__block-img"></div>

                    <p class="search-suggestions__block-text">
                      Велосипед TECH TEAM Fox 20 (2021)
                      черно-синий
                    </p>
                  </div>

                  <p class="search-suggestions__block-price">
                    235 265 Р
                  </p>
                </a>

                <a class="search-suggestions__block-box" href="#">
                  <div class="search-suggestions__block-inner">
                    <div class="search-suggestions__block-img"></div>

                    <p class="search-suggestions__block-text">
                      Велосипед TECH TEAM Fox 20 (2021)
                      черно-синий
                    </p>
                  </div>

                  <p class="search-suggestions__block-price">
                    235 265 Р
                  </p>
                </a>

                <a class="search-suggestions__block-box" href="#">
                  <div class="search-suggestions__block-inner">
                    <div class="search-suggestions__block-img"></div>

                    <p class="search-suggestions__block-text">
                      Велосипед TECH TEAM Fox 20 (2021)
                      черно-синий
                    </p>
                  </div>

                  <p class="search-suggestions__block-price">
                    235 265 Р
                  </p>
                </a>

                <a class="search-suggestions__block-box" href="#">
                  <div class="search-suggestions__block-inner">
                    <div class="search-suggestions__block-img"></div>

                    <p class="search-suggestions__block-text">
                      Велосипед TECH TEAM Fox 20 (2021)
                      черно-синий
                    </p>
                  </div>

                  <p class="search-suggestions__block-price">
                    235 265 Р
                  </p>
                </a>

                <a class="search-suggestions__block-box" href="#">
                  <div class="search-suggestions__block-inner">
                    <div class="search-suggestions__block-img"></div>

                    <p class="search-suggestions__block-text">
                      Велосипед TECH TEAM Fox 20 (2021)
                      черно-синий
                    </p>
                  </div>

                  <p class="search-suggestions__block-price">
                    235 265 Р
                  </p>
                </a>

                <a class="search-suggestions__block-box" href="#">
                  <div class="search-suggestions__block-inner">
                    <div class="search-suggestions__block-img"></div>

                    <p class="search-suggestions__block-text">
                      Велосипед TECH TEAM Fox 20 (2021)
                      черно-синий
                    </p>
                  </div>

                  <p class="search-suggestions__block-price">
                    235 265 Р
                  </p>
                </a>

                <a class="search-suggestions__block-box" href="#">
                  <div class="search-suggestions__block-inner">
                    <div class="search-suggestions__block-img"></div>

                    <p class="search-suggestions__block-text">
                      Велосипед TECH TEAM Fox 20 (2021)
                      черно-синий
                    </p>
                  </div>

                  <p class="search-suggestions__block-price">
                    235 265 Р
                  </p>
                </a>

                <a class="search-suggestions__block-box" href="#">
                  <div class="search-suggestions__block-inner">
                    <div class="search-suggestions__block-img"></div>

                    <p class="search-suggestions__block-text">
                      Велосипед TECH TEAM Fox 20 (2021)
                      черно-синий
                    </p>
                  </div>

                  <p class="search-suggestions__block-price">
                    235 265 Р
                  </p>
                </a>
              </div>
            </div>

            <div class="search-suggestions__wrap-btn">
              <button class="search-suggestions__btn btn">
                Все результаты
              </button>
            </div>
          </div>
        </form>
      </div>

      <div class="menu-top__wrapper">
        <div class="menu__buttons">
          <div class="menu__buttons-item menu__buttons-account">
            <div class="menu__buttons-account-icon">
              <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="14.5" cy="14.5" r="14" fill="white" stroke="#0C1111" />
                <path
                  d="M14.4139 16.7424C16.8281 16.7424 18.7851 14.7853 18.7851 12.3712C18.7851 9.95705 16.8281 8 14.4139 8C11.9998 8 10.0427 9.95705 10.0427 12.3712C10.0427 14.7853 11.9998 16.7424 14.4139 16.7424Z"
                  stroke="#333333" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M7.78711 20.566C8.45888 19.4032 9.42481 18.4377 10.5879 17.7664C11.7509 17.0952 13.0702 16.7418 14.413 16.7418C15.7559 16.7418 17.0751 17.0952 18.2382 17.7665C19.4012 18.4378 20.3671 19.4033 21.0389 20.5661"
                  stroke="#333333" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </div>

            <div class="menu__buttons-account-text">
              Вход
            </div>
          </div>

          <div class="menu__buttons-item menu__buttons-orders">
            <div class="menu__buttons-orders-icon">
              <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.2057 7.63211L5.06934 2.97925" stroke="#0C1111" stroke-linecap="round"
                  stroke-linejoin="round" />
                <path
                  d="M17.2727 13.5492V6.3772C17.2724 6.06277 17.1887 5.75395 17.03 5.48173C16.8713 5.20951 16.6433 4.98345 16.3687 4.82624L10.0404 1.24022C9.76553 1.08285 9.45374 1 9.13635 1C8.81897 1 8.50718 1.08285 8.23232 1.24022L1.90404 4.82624C1.62945 4.98345 1.40138 5.20951 1.2427 5.48173C1.08402 5.75395 1.00033 6.06277 1 6.3772V13.5492C1.00033 13.8637 1.08402 14.1725 1.2427 14.4447C1.40138 14.7169 1.62945 14.943 1.90404 15.1002L8.23232 18.6862C8.50718 18.8436 8.81897 18.9264 9.13635 18.9264C9.45374 18.9264 9.76553 18.8436 10.0404 18.6862L16.3687 15.1002C16.6433 14.943 16.8713 14.7169 17.03 14.4447C17.1887 14.1725 17.2724 13.8637 17.2727 13.5492Z"
                  stroke="#0C1111" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M1.24414 5.44495L9.1364 9.9723L17.0287 5.44495" stroke="#0C1111" stroke-linecap="round"
                  stroke-linejoin="round" />
                <path d="M9.13574 18.9999V9.96313" stroke="#0C1111" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </div>

            <div class="menu__buttons-item-text">
              Заказы
            </div>
          </div>

          <div class="menu__buttons-item menu__buttons-compare">
            <div class="menu__buttons-account-icon">
              <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M17 17L1 17" stroke="#0C1111" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M3 17L3 5L6 5" stroke="#0C1111" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M7 1L7 17L12 17L12 1L7 1Z" stroke="#0C1111" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M12 8L16 8L16 17" stroke="#0C1111" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </div>

            <div class="menu__buttons-item-text">
              Сравнение
            </div>
          </div>

          <div class="menu__buttons-item menu__buttons-favourites">
            <div class="menu__buttons-account-icon">
              <svg width="21" height="18" viewBox="0 0 21 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M11.0703 16.7848L18.5119 9.34322C20.3404 7.51475 20.6102 4.50664 18.8798 2.58506C18.4464 2.10234 17.9192 1.713 17.3303 1.44077C16.7414 1.16855 16.1033 1.01917 15.4548 1.00173C14.8062 0.984287 14.161 1.09916 13.5583 1.33934C12.9557 1.57952 12.4083 1.93997 11.9495 2.39869L10.5508 3.79738L9.34322 2.58975C7.51476 0.761279 4.50664 0.491516 2.58506 2.22187C2.10234 2.6553 1.713 3.18253 1.44077 3.7714C1.16855 4.36027 1.01917 4.99843 1.00173 5.64694C0.984287 6.29545 1.09916 6.94072 1.33934 7.54337C1.57952 8.14602 1.93997 8.69341 2.39869 9.15216L10.0313 16.7848C10.1691 16.9226 10.356 17 10.5508 17C10.7457 17 10.9326 16.9226 11.0703 16.7848V16.7848Z"
                  stroke="#0C1111" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </div>

            <div class="menu__buttons-item-text">
              Избранное
            </div>
          </div>

          <div class="menu__buttons-item menu__buttons-basket">
            <div class="menu__buttons-account-icon basket-icon">
              <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M8.00474 18.9999C8.55748 18.9999 9.00557 18.5555 9.00557 18.0074C9.00557 17.4592 8.55748 17.0149 8.00474 17.0149C7.45199 17.0149 7.00391 17.4592 7.00391 18.0074C7.00391 18.5555 7.45199 18.9999 8.00474 18.9999Z"
                  stroke="#0C1111" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M17.0145 19C17.5672 19 18.0153 18.5556 18.0153 18.0075C18.0153 17.4594 17.5672 17.015 17.0145 17.015C16.4618 17.015 16.0137 17.4594 16.0137 18.0075C16.0137 18.5556 16.4618 19 17.0145 19Z"
                  stroke="#0C1111" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M1 1H4.45741L6.77388 12.4772C6.85292 12.8719 7.06941 13.2264 7.38545 13.4787C7.70149 13.7309 8.09695 13.865 8.50259 13.8573H16.9041C17.3097 13.865 17.7052 13.7309 18.0212 13.4787C18.3373 13.2264 18.5538 12.8719 18.6328 12.4772L20.0158 5.28575H5.32177"
                  stroke="#0C1111" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
              <p class="basket-num">1</p>
            </div>

            <div class="menu__buttons-item-text">
              Корзина
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="menu-bottom">
      <div class="menu-bottom__wrapper">
        <div class="menu-bottom__wrapper-list">
          <div class="menu-bottom__wrapper-item">
            <a class="menu-bottom__wrapper-link" href="#">
              Горные велосипеды
            </a>
          </div>

          <div class="menu-bottom__wrapper-item">
            <a class="menu-bottom__wrapper-link" href="#">
              Детские велосипеды
            </a>
          </div>

          <div class="menu-bottom__wrapper-item">
            <a class="menu-bottom__wrapper-link" href="#">
              Детские самокаты
            </a>
          </div>

          <div class="menu-bottom__wrapper-list-item">
            <a class="menu-bottom__wrapper-link" href="#">
              Электросамокаты
            </a>
          </div>
        </div>
      </div>

      <div class="menu-bottom__wrapper">
        <div class="menu-bottom__wrapper-list">
          <div class="menu-bottom__wrapper-item">
            <a class="menu-bottom__wrapper-link" href="#">
              <span class="menu-bottom__wrapper--span">Распродажа</span>
            </a>
          </div>

          <div class="menu-bottom__wrapper-item">
            <a class="menu-bottom__wrapper-link" href="#">
              Бренды
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<nav class="menu-mobile">
  <div class="burger-mobile__box">
    <div class="burger-mobile-menu">
      <div class="burger-mobile-icon" id="burger-toggle">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="overlay"></div>
      <div class="menu-mobile-dropdown">
        <div class="menu-mobile-dropdown__wrap">
          <div class="menu-mobile-dropdown__top">
            <div class="menu-mobile__location mobile-container">
              <div class="menu-mobile__location-item">
                Ваш город
              </div>

              <div class="menu-mobile__location-item">
                <svg class="mobile-location" width="17" height="17" viewBox="0 0 17 17" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 8.0487L16 1.20166L8.89474 15.6565L7.31579 9.57027L1 8.0487Z" stroke="white"
                    stroke-linecap="round" stroke-linejoin="round" />
                </svg>

                <span>
                  Краснодар
                </span>
              </div>
            </div>
          </div>

          <div class="menu-mobile-dropdown__bottom">
            <div class="mobile-container">
              <div class="tabs">
                <button class="tablink" onclick="openTab(event, 'tab1')" data-tab="tab1">Каталог</button>
                <button class="tablink" onclick="openTab(event, 'tab2')" data-tab="tab2">Бренды</button>
              </div>

              <div id="tab1" class="tabcontent">
                <div class="menu-mobile__catalog">
                  <div class="menu-mobile__catalog-item">
                    <div class="menu-mobile__catalog-img">
                      <img src="../img/mobile-catalog-bicycle.svg" alt="Велосипеды">
                    </div>

                    <div class="menu-mobile__catalog-text">
                      Велосипеды
                    </div>
                  </div>

                  <div class="menu-mobile__catalog-item">
                    <div class="menu-mobile__catalog-img">
                      <img src="../img/mobile-catalog-electro-scooter.svg" alt="Электросамокаты">
                    </div>

                    <div class="menu-mobile__catalog-text">
                      Электросамокаты
                    </div>
                  </div>

                  <div class="menu-mobile__catalog-item">
                    <div class="menu-mobile__catalog-img">
                      <img src="../img/mobile-catalog-scooter.svg" alt="Самокаты">
                    </div>

                    <div class="menu-mobile__catalog-text">
                      Самокаты
                    </div>
                  </div>

                  <div class="menu-mobile__catalog-item">
                    <div class="menu-mobile__catalog-img">
                      <img src="../img/mobile-catalog-skateboard.svg" alt="Скейтборды">
                    </div>

                    <div class="menu-mobile__catalog-text">
                      Скейтборды
                    </div>
                  </div>

                  <div class="menu-mobile__catalog-item">
                    <div class="menu-mobile__catalog-img">
                      <img src="../img/mobile-catalog-roller-states.svg" alt="Роликовые коньки">
                    </div>

                    <div class="menu-mobile__catalog-text">
                      Роликовые коньки
                    </div>
                  </div>

                  <div class="menu-mobile__catalog-item">
                    <div class="menu-mobile__catalog-img">
                      <img src="../img/mobile-catalog-bicycle-accessories.svg" alt="Велоаксессуары">
                    </div>

                    <div class="menu-mobile__catalog-text">
                      Велоаксессуары
                    </div>
                  </div>

                  <div class="menu-mobile__catalog-item">
                    <div class="menu-mobile__catalog-img">
                      <img src="../img/mobile-catalog-bicycle-parts.svg" alt="Велозапчасти">
                    </div>

                    <div class="menu-mobile__catalog-text">
                      Велозапчасти
                    </div>
                  </div>

                  <div class="menu-mobile__catalog-item">
                    <div class="menu-mobile__catalog-img">
                      <img src="../img/mobile-catalog-scooter-parts.svg" alt="Запчасти для самокатов">
                    </div>

                    <div class="menu-mobile__catalog-text">
                      Запчасти для самокатов
                    </div>
                  </div>

                  <div class="menu-mobile__catalog-item">
                    <div class="menu-mobile__catalog-img">
                      <img src="../img/mobile-catalog-ski.svg" alt="Лыжи">
                    </div>

                    <div class="menu-mobile__catalog-text">
                      Лыжи
                    </div>
                  </div>

                  <div class="menu-mobile__catalog-item">
                    <div class="menu-mobile__catalog-img">
                      <img src="../img/mobile-catalog-snowboard.svg" alt="Сноуборды">
                    </div>

                    <div class="menu-mobile__catalog-text">
                      Сноуборды
                    </div>
                  </div>

                  <div class="menu-mobile__catalog-item">
                    <div class="menu-mobile__catalog-img">
                      <img src="../img/mobile-catalog-sup.svg" alt="Сапборды">
                    </div>

                    <div class="menu-mobile__catalog-text">
                      Сапборды
                    </div>
                  </div>

                  <div class="menu-mobile__catalog-item">
                    <div class="menu-mobile__catalog-img">
                      <img src="../img/mobile-catalog-tourism.svg" alt="Туризм">
                    </div>

                    <div class="menu-mobile__catalog-text">
                      Туризм
                    </div>
                  </div>

                  <div class="menu-mobile__catalog-item">
                    <div class="menu-mobile__catalog-img">
                      <img src="../img/mobile-catalog-exercise-equipment.svg" alt="Тренажеры">
                    </div>

                    <div class="menu-mobile__catalog-text">
                      Тренажеры
                    </div>
                  </div>

                  <div class="menu-mobile__catalog-item">
                    <div class="menu-mobile__catalog-img">
                      <img src="../img/mobile-catalog-electro-scooter-parts.svg" alt="Запчасти для электросамокатов">
                    </div>

                    <div class="menu-mobile__catalog-text">
                      Запчасти для электросамокатов
                    </div>
                  </div>

                  <div class="menu-mobile__catalog-item">
                    <div class="menu-mobile__catalog-img">
                      <img src="../img/mobile-catalog-backpacks.svg" alt="Рюкзаки и велосумки">
                    </div>

                    <div class="menu-mobile__catalog-text">
                      Рюкзаки и велосумки
                    </div>
                  </div>

                  <div class="menu-mobile__catalog-item">
                    <div class="menu-mobile__catalog-img">
                      <img src="../img/mobile-catalog-more.svg" alt="Другое">
                    </div>

                    <div class="menu-mobile__catalog-text">
                      Другое
                    </div>
                  </div>

                  <div class="menu-mobile__catalog-item">
                    <div class="menu-mobile__catalog-img">
                      <img src="../img/mobile-catalog-sales.svg" alt="Распродажа">
                    </div>

                    <div class="menu-mobile__catalog-text">
                      Распродажа
                    </div>
                  </div>

                  <div class="menu-mobile__catalog-item">
                    <div class="menu-mobile__catalog-img">
                      <img src="../img/mobile-catalog-new.svg" alt="Новинки">
                    </div>

                    <div class="menu-mobile__catalog-text">
                      Новинки
                    </div>
                  </div>

                  <div class="menu-mobile__catalog-item">
                    <div class="menu-mobile__catalog-img empty-mobile-icon">
                    </div>

                    <div class="menu-mobile__catalog-text">
                      Прокат оборудования
                    </div>
                  </div>

                  <div class="menu-mobile__catalog-item">
                    <div class="menu-mobile__catalog-img empty-mobile-icon">
                    </div>

                    <div class="menu-mobile__catalog-text">
                      Ремонт и Облуживание
                    </div>
                  </div>
                </div>
              </div>

              <div id="tab2" class="tabcontent">
                <div>Бренды</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mobile-logo">
      <img src="../img/logo-mobile.svg" alt="Логотип">
    </div>
  </div>


  <div class="menu-mobile__buttons">
    <div class="menu-mobile__buttons-item">
      <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M7.99996 14.9999C11.8659 14.9999 14.9999 11.8659 14.9999 7.99996C14.9999 4.13399 11.8659 1 7.99996 1C4.13399 1 1 4.13399 1 7.99996C1 11.8659 4.13399 14.9999 7.99996 14.9999Z"
          stroke="white" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M12.9492 12.95L16.9992 17" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
      </svg>

    </div>

    <div class="menu-mobile__buttons-item">
      <svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M7.09528 16.9999C7.51607 16.9999 7.85718 16.6588 7.85718 16.238C7.85718 15.8172 7.51607 15.4761 7.09528 15.4761C6.67449 15.4761 6.33337 15.8172 6.33337 16.238C6.33337 16.6588 6.67449 16.9999 7.09528 16.9999Z"
          stroke="white" stroke-linecap="round" stroke-linejoin="round" />
        <path
          d="M15.4763 16.9999C15.897 16.9999 16.2382 16.6588 16.2382 16.238C16.2382 15.8172 15.897 15.4761 15.4763 15.4761C15.0555 15.4761 14.7144 15.8172 14.7144 16.238C14.7144 16.6588 15.0555 16.9999 15.4763 16.9999Z"
          stroke="white" stroke-linecap="round" stroke-linejoin="round" />
        <path
          d="M1 1H4.04762L6.08952 11.2019C6.1592 11.5527 6.35003 11.8678 6.62861 12.092C6.90719 12.3163 7.25577 12.4354 7.61333 12.4286H15.019C15.3766 12.4354 15.7252 12.3163 16.0038 12.092C16.2824 11.8678 16.4732 11.5527 16.5429 11.2019L17.7619 4.80952H4.80952"
          stroke="white" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </div>

    <div class="menu-mobile__buttons-item hidden-button">
      <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M15.2222 17V15.2222C15.2222 14.2792 14.8476 13.3748 14.1808 12.708C13.514 12.0412 12.6097 11.6666 11.6667 11.6666H4.55556C3.61256 11.6666 2.70819 12.0412 2.0414 12.708C1.3746 13.3748 1 14.2792 1 15.2222V17"
          stroke="white" stroke-linecap="round" stroke-linejoin="round" />
        <path
          d="M8.1111 8.11111C10.0748 8.11111 11.6667 6.51923 11.6667 4.55556C11.6667 2.59188 10.0748 1 8.1111 1C6.14742 1 4.55554 2.59188 4.55554 4.55556C4.55554 6.51923 6.14742 8.11111 8.1111 8.11111Z"
          stroke="white" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </div>
  </div>
</nav>